

   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row section-head">

         <div class="col one-fourth">
            <h2>About Us</h2>
            <p class="desc">This is what we are.</p>
         </div>

         <div class="col three-fourths">
             <p class="intro">Some thing about the Company.Some thing about the Company. Some thing about the Company. Some thing about the Company. Some thing about the Company. Some thing about the Company. Some thing about the Company. </p>
         </div>

      </div>

      <div class="row">
         <div class="col full"><h3>Our Work Process.</h3></div>
      </div>

      <div class="row process-wrap">

         <div class="col">
            <h4>Explore.</h4>

            <p>Explore About Sharon Mines.</p>
			</div>

         <div class="col">
            <h4>Design.</h4>

            <p>Design
            </p>
			</div>

         <div class="col m-first">
            <h4>Develop.</h4>

            <p>Developement of sharon mines</p>
			</div>

         <div class="col">
            <h4>Deliver.</h4>

            <p>This is how we deliver.
            </p>
			</div>

      </div> <!-- Process Wrap End -->

      <div class="row">
         <div class="col full"><h3>Meet The Team.</h3></div>
      </div>


      <!-- Team Wrap End -->
      <div class="row team-wrap">

         <div class="col one-fourth">

            <img src="assets/team/team-img-01.jpg" alt=""/>

            <div class"member-name">
               <h5>Mr. Name</h5>
               <span>Position</span>
            </div>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

			</div>

         <div class="col one-fourth">

            <img src="assets/team/team-img-02.jpg" alt=""/>

            <div class"member-name">
               <h5>Mrs. Name</h5>
               <span>Position</span>
            </div>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

			</div>

         <div class="col one-fourth">

            <img src="assets/team/team-img-03.jpg" alt=""/>

            <div class"member-name">
               <h5>Mr. Name</h5>
               <span>Position</span>
            </div>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

			</div>

         <div class="col one-fourth">

            <img src="assets/team/team-img-03.jpg" alt=""/>

            <div class"member-name">
               <h5>Mr. Name</h5>
               <span>Position</span>
            </div>

            <ul class="member-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

			</div>

      </div> <!-- Team Wrap End -->

      <!-- Testimonials -->
      <div class="row">

         <div class="col full section-head">
            <h2>Testimonials</h2>
            <p class="desc">What our clients are saying.</p>
         </div>

      </div>

      <div class="row testimonials">

         <div class="col half">

            <div class="client-author">
               <img src="assets/client-img.png" alt="" />
               <div class="name">
                  <p>Client1<span>client position</span></p>
               </div>
            </div>

		      <div class="client-cite">
			      <p>Some Thing that Client Said</p>
		      </div>

         </div>

         <div class="col half">

            <div class="client-author">
               <img src="assets/client-img.png" alt="" />
               <div class="name">
                  <p>Client2<span>CEO</span></p>
               </div>
            </div>

		      <div class="client-cite">
			      <p>Some Thing That Client2 Said.</p>
		      </div>

         </div>

      </div> <!--  Testimonials End-->


   </section> <!-- About Section End-->