   <!-- Intro Section
   ================================================== -->
   <section id="intro">

      <!-- Flexslider Start-->
      <div id="intro-slider" class="flexslider">

         <ul class="slides">

            <!-- Slide -->
            <li>
               <div class="row">
                  <div class="col full">
                     <div class="slider-text">
                        <h2>Hello, we are <span>SharonMines</span></h2>
                        <p>We offers the world’s widest range of equipment for rock drilling, rock excavation, processing, demolition and bulk-materials handling.</p>
                     </div>
                  </div>
               </div>
            </li>

            <!-- Slide -->
            <li>
               <div class="row">
                  <div class="col full">
                     <div class="slider-text">
                        <h2>Take a look at some of <a href="#portfolio" title="">our works</a> or <a href="#contact" title="">get in
                        touch</a> to discuss how we can help you.</h2>
                        <p></p>
                     </div>
                  </div>
               </div>
            </li>

         </ul>
      </div>
      <!-- Flexslider End-->

   </section> <!-- Intro Section End-->