
   <!-- Journal Section
   ================================================== -->
   <section id="journal">

      <div class="row section-head">
         <div class="col full">
            <h2>Journal</h2>
            <p class="desc">Our latest posts and rants.</p>
         </div>
      </div>

      <!-- Blog Entries -->
      <div class="blog-entries">

         <!-- Entry -->
         <article class="entry">

            <div class="row entry-header">

               <div class="author-image">
                  <img src="assets/user-03.png" alt="Author" />
               </div>

               <div class="col g-9 offset-1 entry-title">
                  <h3><a href="#">Heading of the post.</a></h3>
               </div>

               <div class="col g-2">
                  <p class="post-meta">
                     <time pubdate="" class="post-date" datetime="2014-01-19">Jan 19, 2014</time>
                     <span class="dauthor">By Author</span>
                  </p>
               </div>

            </div>

            <div class="row">

               <div class="col g-9 offset-1 post-content">
                  <p>Post..........
                  <a href="#" class="more-link">Read More<i class="fa fa-angle-right"></i></a></p>
               </div>

            </div>

         </article> <!-- Entry End -->

         <!-- Entry -->
         <article class="entry">

            <div class="row entry-header">

               <div class="author-image">
                  <img src="assets/user-03.png" alt="Author" />
               </div>

               <div class="col g-9 offset-1 entry-title">
                  <h3><a href="#">Heading of the Post.</a></h3>
               </div>

               <div class="col g-2">
                  <p class="post-meta">
                     <time pubdate="" class="post-date" datetime="2014-01-09">Jan 9, 2014</time>
                     <span class="dauthor">By Author</span>
                  </p>
               </div>

            </div>

            <div class="row">

               <div class="col g-9 offset-1 post-content">
                  <p>post.......
                  <a href="#" class="more-link">Read More<i class="fa fa-angle-right"></i></a></p>
               </div>

            </div>

         </article> <!-- Entry End -->

         <!-- Entry -->
         <article class="entry">

            <div class="row entry-header">

               <div class="author-image">
                  <img src="assets/user-03.png" alt="Author" />
               </div>

               <div class="col g-9 offset-1 entry-title">
                  <h3><a href="#">Heading of the Post.</a></h3>
               </div>

               <div class="col g-2">
                  <p class="post-meta">
                     <time pubdate="" class="post-date" datetime="2014-01-07">Jan 7, 2014</time>
                     <span class="dauthor">By Author</span>
                  </p>
               </div>

            </div>

            <div class="row">

               <div class="col g-9 offset-1 post-content">
                  <p>Post......
                  <a href="#" class="more-link">Read More<i class="fa fa-angle-right"></i></a></p>
               </div>

            </div>

         </article> <!-- Entry End -->

      </div> <!-- Blog Entries End -->

   </section>  <!-- Journal Section End -->