
   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row section-head">
         <div class="col full">

            <h2>Portfolio</h2>
            <p class="desc">Check out our latest projects.</p>

            <p class="intro">Innovative, ergonomic and intuitive – just to name a few of the great benefits with the new Sharom Mines Tech rig control system. And by the way, it has also received a great design award.
            </p>

         </div>
      </div>

      <div class="row">

		   <!-- Portfolio Wrapper -->
		   <div id="portfolio-wrapper">

			   <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-01"><img src="assets/portfolio/roper.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Roper</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-02"><img src="assets/portfolio/coal.jpeg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Coal</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-03"><img src="assets/portfolio/coal-miner.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Coal Miner</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-04"><img src="assets/portfolio/labour.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Labour</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-05"><img src="assets/portfolio/mining.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Mining</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-06"><img src="assets/portfolio/symbol.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Symbol</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-07"><img src="assets/portfolio/underground.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">UnderGround</a></h5>
					   </div>
               </div>
			   </div>

            <div class="col portfolio-item">
               <div class="item-wrap">
					   <a href="#" data-reveal-id="modal-08"><img src="assets/portfolio/jinping.jpg" alt=""/></a>
					   <div class="portfolio-item-meta">
						   <h5><a href="#">Jinping</a></h5>
					   </div>
               </div>
			   </div>

		   </div> <!-- Portfolio Wrapper End -->


		</div> <!-- End Row -->


      <!-- Modal Popup
	   =========================================================== -->

      <!-- modal-01 -->
	   <div id="modal-01" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-roper.jpg" alt="" />

		   <div class="description-box">
			   <h4>The Roper</h4>
			   <p>Some Text ......</p>
            <span class="categories"><i class="fa fa-tag"></i>Roper</span>
		   </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div><!-- modal-01 End -->

      <!-- modal-02 -->
	   <div id="modal-02" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-coal.jpeg" alt="" />

		   <div class="description-box">
			   <h4>Coal</h4>
			   <p>Some Text.....</p>
            <span class="categories"><i class="fa fa-tag"></i>Coal</span>
         </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-02 End -->

      <!-- modal-03 -->
	   <div id="modal-03" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-coal-miner.jpg" alt="" />

		   <div class="description-box">
			   <h4>Coal Miner</h4>
			   <p>Some Text.......</p>
            <span class="categories"><i class="fa fa-tag"></i>Coal Miner</span>
         </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-03 End -->

      <!-- modal-04 -->
	   <div id="modal-04" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-labour.jpg" alt="" />

		   <div class="description-box">
			   <h4>Labour</h4>
			   <p>Some Text.......</p>
            <span class="categories"><i class="fa fa-tag"></i>Labour</span>
         </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-04 End -->

      <!-- modal-05 -->
	   <div id="modal-05" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-mining.jpg" alt="" />

		   <div class="description-box">
			   <h4>Mining</h4>
			   <p>Some Text.......</p>
            <span class="categories"><i class="fa fa-tag"></i>Mining</span>
         </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-05 End -->

      <!-- modal-06 -->
	   <div id="modal-06" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-symbol.jpg" alt="" />

		   <div class="description-box">
			   <h4>Symbol</h4>
			   <p>Some Text.......</p>
            <span class="categories"><i class="fa fa-tag"></i>Symbol</span>
         </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-06 End -->

      <!-- modal-07 -->
	   <div id="modal-07" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-underground.jpg" alt="" />

		   <div class="description-box">
			   <h4>Underground</h4>
			   <p>Some Text.......</p>
            <span class="categories"><i class="fa fa-tag"></i>Underground</span>
         </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-07 End -->

      <!-- modal-08 -->
	   <div id="modal-08" class="reveal-modal">

		   <img class="scale-with-grid" src="assets/portfolio/modals/m-jinping.jpg" alt="" />

		   <div class="description-box">
			   <h4>Jinping</h4>
			   <p>Some Text.......</p>
            <span class="categories"><i class="fa fa-tag"></i>Jinping</span> </div>

         <div class="link-box">
            <a href="#">Details</a>
		      <a class="close-reveal-modal">Close</a>
         </div>

	   </div> <!-- modal-08 End -->

   </section> <!-- Portfolio End -->