
   <!-- Services Section
   ================================================== -->
   <section id="services">

      <div class="row section-head">

         <div class="col one-third">
            <h2>Services</h2>
            <p class="desc">Our list of awesome services.</p>
         </div>

         <div class="col two-thirds">
            <div class="intro">
             <p>
               Keeping India's Pellets Rolling
               The Sharon Mines iron ore mine, located in the Mumbai, India, continues to increase its production year on year, irrespective of fluctuations in metal prices. 
              </p>
            </div>
         </div>

      </div>

      <div class="row">

         <div class="services-wrapper">

            <!-- first row start -->

            <div class="col">
               <h2><i class="fa fa-globe"></i>Exploration</h2>
               <p>Exploration is the act of searching for the purpose of discovery of information or resources. Exploration occurs in all non-sessile animal species, including humans.Since then, major explorations after the Age of Discovery have occurred for reasons more aimed at information discovery.</p>
            </div>

            <div class="col">
               <h2><i class="fa fa-star"></i>Raise Boring</h2>
               <p>A raise borer is a machine used in underground mining, to excavate a circular hole between two levels of a mine without the use of explosives.
               The raise borer is set up on the upper level of the two levels to be connected, on an evenly laid platform (typically a concrete pad).</p>
            </div>

            <div class="col m-first">
               <h2><i class="fa fa-camera"></i>Surface Drilling</h2>
               <p>Drilling engineers design and implement procedures to drill wells as safely and economically as possible. They work closely with the drilling contractor, service contractors, and compliance personnel, as well as with geologists and other technical specialists.</p>
            </div>

            <div class="col first">
               <h2><i class="fa fa-camera"></i>Underground Mining</h2>
               <p>Underground hard rock mining refers to various underground mining techniques used to excavate hard minerals, mainly those containing metals such as ore containing gold, silver, iron, copper etc</p>
            </div>
               
               <!-- first row end -->

               <!-- second row start -->

            <div class="col m-first">
               <h2><i class="fa fa-globe"></i>Infra Renovation</h2>
               <p>Infrastructure is basic physical and organizational structures needed for the operation of a society or enterprise, or the services and facilities necessary for an economy to function.</p>
            </div>

            <div class="col">
               <h2><i class=" fa fa-list-alt"></i>Demesion Stone</h2>
               <p>Dimension stone is natural stone or rock that has been selected and fabricated (i.e., trimmed, cut, drilled, ground, or other) to specific sizes or shapes. Color, texture and pattern, and surface finish of the stone are also normal requirements.</p>
            </div>

            <div class="col first">
               <h2><i class="fa fa-print"></i>Foundation Construction</h2>
               <p>
               foundation, Part of a structural system that supports and anchors the superstructure of a building and transmits its loads directly to the earth. To prevent damage from repeated freeze-thaw cycles, the bottom of the foundation must be below the frost line.</p>
            </div>

              <div class="col">
               <h2><i class="fa fa-print"></i>Ground Engineering</h2>
               <p> Ground Engineering Consultants, Inc. is a client-oriented engineering firm providing a full range of consultant services to the design, engineering and construction industries.</p>
            </div>
             <div class="col">
               <h2><i class="fa fa-print"></i>Recycling Sites</h2>
               <p>Recycling is a process to change (waste) materials into new products to prevent waste of potentially useful materials, reduce the consumption of fresh raw materials, reduce energy usage</p>
            </div>


            <!-- second row end -->

         </div> <!-- Services-Wrapper End -->

      </div> <!--end row -->

   </section> <!-- Services Section End -->